.App {
    width: 100%;
    height: 100%;
}

button.back {
    margin: 10px;
}

button.EntityType {
    width: 90%;
    height: 48px;
    margin: 5px;
    background: #0687cb;
    color: white;
    position: relative;
    left: 2.5%;
}

.Calendar {
    margin: 50px auto;
}

h1,
h2 {
    text-align: center;
}

td.align {
    text-align: center;
}

.Loading {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    align-items: center;
    line-height: 100px;
}
